<form class="form-content" (ngSubmit)="login()">
  <div class="form-element full-width">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      [(ngModel)]="email"
      required
    />
  </div>

  <div class="form-element full-width">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      [(ngModel)]="password"
      required
    />
  </div>

  <div class="form-element full-width">
    <input type="submit" class="btn btn-success" value="Login" />
  </div>
</form>
