<a [routerLink]="['/bugs', bugId]" class="btn go-back">< Go Back</a>

<form *ngIf="isFullyRendered" class="form-content" (ngSubmit)="onSubmit()">
  <div class="form-element">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      [(ngModel)]="title"
      value="{{ title }}"
      placeholder="Title of the bug"
      minlength="5"
      maxlength="50"
    />
  </div>

  <div class="form-element">
    <label for="description">Description</label>
    <textarea
      id="description"
      name="description"
      [(ngModel)]="description"
      value="{{ description }}"
      placeholder="Please be descriptive about the bug"
    ></textarea>
  </div>

  <div class="form-element">
    <label for="status">Status</label>
    <input
      list="status-datalist"
      name="status"
      id="status"
      [(ngModel)]="status"
    />
    <datalist id="status-datalist">
      <option value="Listed"></option>
      <option value="To Do"></option>
      <option value="Tracking"></option>
      <option value="Solved"></option>
    </datalist>
    <!-- <input
      type="text"
      name="status"
      id="status"
      [(ngModel)]="status"
      value="{{ status }}"
      placeholder="Status of the bug"
    /> -->
  </div>

  <div class="form-element">
    <button type="submit" id="submit" class="btn btn-success">Submit</button>
  </div>
</form>
