section {
  position: relative;
  line-height: 2rem;
}

section h1 {
  font-size: 1rem;
  font-weight: var(--default-font-weight);
}

h1#bug-title {
  max-width: 70%;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

#bug-project {
  color: var(--color-accent);
  display: block;
}

#bug-reporter {
  color: var(--color-accent);
  display: block;
}

#bug-description {
  padding-top: 2rem;
  line-height: 1.2rem;
}
