<a routerLink=".." class="btn go-back">< Bug Reports</a>

<div class="found" *ngIf="bug">
  <section id="section--bug-page">
    <h1 id="bug-title">#BT-{{ bug.id }} {{ bug.title }}</h1>

    <a [routerLink]="['/users', bug.reporterID]" id="bug-reporter"
      >Reported by {{ bug.reporterName }}</a
    >

    <h1 id="bug-reported-at">
      Reported at {{ bug.createdAt }} (Last updated: {{ bug.lastUpdatedAt }})
    </h1>

    <h1 id="bug-status">Status: {{ bug.status }}</h1>

    <a [routerLink]="['/projects', bug.reporterID]" id="bug-project">{{
      bug.projectName
    }}</a>

    <p id="bug-description">{{ bug.description }}</p>

    <div *ngIf="isAuthorized('admin')" class="control-buttons">
      <a routerLink="edit" class="btn btn-success btn-fix-size-5rem"> Edit </a>
      <button
        type="button"
        class="btn btn-warning btn-fix-size-5rem"
        (click)="deleteBug()"
      >
        Delete
      </button>
    </div>
  </section>
</div>
