<article>
  <a [routerLink]="['/bugs', bug.id]" class="article--bug-id"
    >BT-{{ bug.id }}</a
  >
  <h1 class="article--bug-status">{{ bug.status }}</h1>
  <h1 class="article--bug-title">{{ bug.title }}</h1>
  <button
    title="Toggle details"
    type="button"
    class="article--bug-toggle"
    (click)="toggleBugDetails()"
  >
    <fa-icon [icon]="showBugDetails ? faEyeSlash : faEye"></fa-icon>
  </button>
</article>

<section *ngIf="showBugDetails" class="bug-details">
  <h1 class="bug-title">#BT-{{ bug.id }} {{ bug.title }}</h1>

  <a [routerLink]="['/users', bug.reporterID]" class="bug-reporter"
    >Reported by {{ bug.reporterName }}</a
  >

  <h1 class="bug-reported-at">
    Reported at: {{ bug.createdAt }} (Last updated: {{ bug.lastUpdatedAt }})
  </h1>

  <h1 class="bug-status">Status: {{ bug.status }}</h1>

  <a [routerLink]="['/projects', bug.projectID]" class="bug-project">{{
    bug.projectName
  }}</a>

  <p class="bug-description">
    {{ bug.description }}
  </p>

  <div *ngIf="isAuthorized(['admin'])" class="control-buttons article-ctrl-btn">
    <a
      [routerLink]="['/bugs/edit', bug.id]"
      class="btn btn-success btn-fix-size-5rem"
      >Edit</a
    >
    <button
      type="button"
      class="btn btn-warning btn-fix-size-5rem"
      (click)="deleteBug()"
    >
      Delete
    </button>
  </div>
</section>
