article .bug-id {
  width: 10%;
}

article .bug-title {
  width: 40%;
  text-align: start;
}

article .bug-reporter {
  width: 25%;
}

article .bug-reported-at {
  width: 15%;
}

article .bug-status {
  width: 10%;
}

#section--bug-page {
  position: relative;
  line-height: 2rem;
}

#section--bug-page h1 {
  font-size: 1rem;
  font-weight: var(--default-font-weight);
}

h1#bug-title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

#bug-edit {
  position: absolute;
  top: 0;
  right: 5.5rem;
}

#bug-delete {
  position: absolute;
  top: 0;
  right: 0;
}

#bug-project {
  color: var(--color-accent);
  display: block;
}

#bug-reporter {
  color: var(--color-accent);
  display: block;
}

#bug-description {
  line-height: 1.2rem;
}
