<div class="main-content-header">
  <h1>{{ title }}</h1>

  <app-button text="Report Bug" class="btn-warning btn-top-right"></app-button>
</div>

<section id="section--list">
  <article *ngFor="let bug of bugs">
    <a href="/bugs/{{ bug.id }}" class="bug-id">BT-{{ bug.id }}</a>
    <h1 class="bug-title">{{ bug.title }}</h1>
    <a href="{{ bug.reporterID }}" class="bug-reporter">
      {{ bug.reporterName }}
    </a>
    <h1 class="bug-reported-at">
      {{ bug.createdAt }}
    </h1>
    <h1 class="bug-status">{{ bug.status }}</h1>
  </article>
</section>
