<a
  *ngIf="isProjectLoaded"
  [routerLink]="['/projects', project.id]"
  class="btn go-back"
  >< {{ project.name }}</a
>

<form
  *ngIf="isProjectLoaded && isUsersLoaded"
  class="form-content"
  (ngSubmit)="addContributor()"
>
  <div class="form-element">
    <label for="project">Project</label>
    <select title="Project" id="project" disabled required>
      <option value="{{ project.id }}">
        {{ project.name }}
      </option>
    </select>
  </div>

  <div class="form-element">
    <label for="user">User</label>
    <select
      title="User"
      id="user"
      name="contributor"
      [(ngModel)]="contributor"
      required
    >
      <option value="" selected disabled>New contributor</option>
      <option *ngFor="let user of usersList" [ngValue]="user">
        {{ user.name }}
      </option>
    </select>
  </div>

  <div class="form-element">
    <button type="submit" title="Add contributor" class="btn btn-success">
      Add Contributor
    </button>
  </div>
</form>
