<a
  [routerLink]="['/projects', project.id]"
  [state]="project"
  class="btn go-back"
>
  < {{ project.name }}
</a>

<form class="form-content" (ngSubmit)="upsertProject()">
  <div class="form-element">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="name"
      placeholder="{{ project.name }}"
      required
    />
  </div>

  <div class="form-element">
    <button type="submit" id="submit" class="btn btn-success">Update</button>
  </div>
</form>
