<a [routerLink]="['/projects']" class="btn go-back">< Projects</a>

<section>
  <h1 class="project-title">{{ project.name }}</h1>
  <h2 class="project-id">Project ID: {{ project.id }}</h2>

  <h2 class="project-leader">Leader: {{ project.leaderName }}</h2>

  <div class="project-page-contributors">
    <a [routerLink]="['/projects/add-contributor', projectId]" class="btn"
      >Add Contributor</a
    >
    <h1>Contributors ({{ project.numberOfContributors }})</h1>
    <ul>
      <li *ngFor="let contributor of project.contributorNamesList">
        <button
          type="button"
          title="Remove Contributor"
          class="btn btn-remove-contributor"
          (click)="removeContributor(contributor)"
        >
          <fa-icon [icon]="faXmark"></fa-icon>
        </button>
        <a [routerLink]="['/users', contributor.id]">
          {{ contributor.name }}
        </a>
      </li>
    </ul>
  </div>

  <div class="project-page-bug-reports">
    <a [routerLink]="['/bugs/report']" class="btn">Report a Bug</a>
    <h1>Bug Reports ({{ project.numberOfBugReports }})</h1>
    <ul>
      <li *ngFor="let bug of project.bugReportsList">
        <a [routerLink]="['/bugs', bug.id]"
          ><span class="highlight-text">#BT-{{ bug.id }} </span> {{ bug.title }}
        </a>
      </li>
    </ul>
  </div>

  <a
    [routerLink]="['edit', project.id]"
    class="btn btn-success btn-fix-size-5rem project-edit"
  >
    Edit
  </a>
  <button
    type="button"
    class="btn btn-warning btn-fix-size-5rem project-delete"
  >
    Delete
  </button>
</section>
