<a routerLink="/projects" class="btn go-back">< Projects</a>

<section>
  <h1 class="project-title">{{ project.name }}</h1>
  <h2 class="project-id">Project ID: {{ project.id }}</h2>

  <h2 class="project-leader">Leader: {{ project.leaderName }}</h2>

  <div class="project-page-contributors">
    <h1>Contributors ({{ project.numberOfContributors }})</h1>
    <ul>
      <li *ngFor="let contributor of project.contributorNamesList">
        <button
          *ngIf="isAuthorized(['admin'])"
          type="button"
          title="Remove Contributor"
          class="btn btn-remove-contributor"
          (click)="removeContributor(contributor)"
        >
          <fa-icon [icon]="faXmark"></fa-icon>
        </button>
        <a [routerLink]="['/users', contributor.id]">
          {{ contributor.name }}
        </a>
      </li>
      <li *ngIf="isAuthorized(['admin'])">
        <button
          *ngIf="!isContributorFormShown"
          type="button"
          title="Add Contributor"
          class="btn"
          (click)="openNewContributorForm()"
        >
          Add Contributor
        </button>

        <form
          *ngIf="isContributorFormShown"
          (ngSubmit)="submitNewContributor()"
          class="form-add-contributor"
        >
          <div class="form-element">
            <select
              title="New contributor"
              name="contributor"
              [(ngModel)]="newContributor"
              required
            >
              <option *ngFor="let user of usersList" [ngValue]="user">
                {{ user.name }}
              </option>
            </select>
          </div>

          <div class="form-element">
            <button
              type="submit"
              title="Add Contributor"
              class="btn btn-success"
            >
              Add
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>

  <div class="project-page-bug-reports">
    <h1>Bug Reports ({{ project.numberOfBugReports }})</h1>
    <ul>
      <li *ngFor="let bug of project.bugReportsList">
        <a [routerLink]="['/bugs', bug.id]"
          ><span class="highlight-text">#BT-{{ bug.id }} </span> {{ bug.title }}
        </a>
      </li>
      <li>
        <a
          *ngIf="isAuthorized(['admin'])"
          [routerLink]="['/bugs/report', project.id]"
          class="btn"
          >Report a Bug</a
        >
      </li>
    </ul>
  </div>

  <div *ngIf="isAuthorized(['admin'])" class="control-buttons">
    <a
      [routerLink]="['/projects/edit', project.id]"
      [state]="project"
      class="btn btn-success btn-fix-size-5rem project-edit"
    >
      Edit
    </a>
    <button
      type="button"
      class="btn btn-warning btn-fix-size-5rem project-delete"
      (click)="deleteProject()"
    >
      Delete
    </button>
  </div>
</section>
